@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* heading */

.header {
    background-color: #fafafa;
    width: 100%;
    top: 0px;
    text-align: right;
    font-size: 150%;
    letter-spacing: 4px;
    margin: 0;
    height: 65px;
}

nav {
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
    padding: 15px;
}

.logo {
    float: left;
    padding-left: 10px;
}

#header-text {
    float: left;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #000
}

a {
    color: #000000;
}

p {
    font-size: 200%;
    text-align: center;
    font-weight: bold;
}

h1,h2 {
    font-family: Oswald, sans-serif;
    letter-spacing: 4px;
    color: #383535;
}

logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links */

menu {
    font-size: 110%;
    letter-spacing: 4px;
}

menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu, #logo {
    line-height: 75px;
}

/* group of cyclists image */

.group-of-cyclists {
    position: relative;
    text-align: center;
    color: #000000;
}

#group-of-cyclists2 img {
    width: 100%;
    height: auto;
}


/* page heros */
.welcome {
    font-size: 800%;
    vertical-align: -webkit-baseline-middle;
    text-align: center;
    position: relative;
    top: 40%;
    color: #fafafa;
}

.hero-image 
{
height: 800px;
display: block;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.cyclists-home
{
    background-image: url("../images/group-of-cyclists.jpg");
    }

.coffee-cafe {
    background-image: url(../images/coffee-roast.jpg);
}

.contact-page {
    background-image: url('../images/open-road.jpeg');
}

.event-calender {
    background-image: url(../images/legs-profile-cyclist.jpg);
}

/* Footer section */

footer {
    clear: both;
    height: 100px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #fafafa;
    padding: 80px;
    max-width: 1170px;
    margin: auto;
    git add 
  }

  .twocol {
    width: 50%;
    display: inline-block;
    padding: 80px;
  }