@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* heading */

header {
    background-color: #000000;
    width: 100%;
    top: 0px;
    text-align: right;
    font-size: 18px;
    margin: 0;
    position: sticky;
    z-index: 1;
}

.overlay {
    background: rgba(50, 70, 80, 0.7);
    overflow: hidden;
    height: 100%;
   }

nav {
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
    padding: 20px;
    text-align: center;
}

nav a {
    text-decoration: none;
    margin-left: 24px;
    color: #fafafa;
    text-transform: uppercase;
}

nav a:hover {
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    color: rgb(92, 131, 150);
}


.container {
    max-width: 1170px;
    margin: auto;
}

.logo {
    float: left;
    padding-left: 10px;
    margin-left: 30px;
    position: relative;
    top: 20px;
    width: 128px;
}

/* body */

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #000;
}

a {
    color: #000000;
}

p {
    font-size: 1.2em;
    margin-bottom: 16px;
    padding: 0px 10px 10px 0px;
    line-height: 1.6em;
}

h1,h2 {
    font-family: Lato, sans-serif;
    letter-spacing: 4px;
    color: #383535;
    padding: 0px 10px 10px 0px;
}

h1 {
    font-weight: bold;
}

/* navigation links */

menu {
    font-size: 110%;
    letter-spacing: 4px;
}

menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu, #logo {
    line-height: 75px;
}

/* Cafe page */

.row {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .left {
    width: 25%;
    padding-top: 10%;
  }

  .right {
    width: 75%;
    padding-top: 10%;
  }

.opening-hours {
    width: 50%;
    text-align: center;
}

.menu {
    width: 50%;
    text-align: center;
}

.body {
    text-align: center;
}

.row {
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cafe li {
    list-style-type: none;
    padding: 16px 0px 16px 0px;
    border-bottom: 1px solid black;
}

.cafe {
    padding-bottom: 24px;
    font-size: 18px;
}

/* row images */

.row img {
    width: 100%;
}

/* event page */

.main-text {
    text-align: center;
    display: inline;
    font-size: 20px;
    padding-bottom: 1%;
    letter-spacing: 1px;
    margin-right: 15px;
    margin-left: 15px;
}
.events li {
    list-style-type: none;
    padding: 16px 0px 16px 0px;
    border-bottom: 1px solid black;
}

.events {
    padding-bottom: 24px;
    font-size: 18px;
}

/* page heros */

.welcome {
    font-size: 96px;
    vertical-align: -webkit-baseline-middle;
    text-align: center;
    position: relative;
    top: 40%;
    color: #fafafa;
}

.hero-image {
height: 800px;
display: block;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

/* column styling */

.column {
    padding: 24px;
    width: 50%;
    float: left;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.cyclists-home {
    background-image: url("../images/cyclists-rapha1-figma.jpg");
    }

.latte-art {
    background-image: url("../images/latte-art.jpg");
}   

.coffee-cafe {
    background-image: url(../images/coffee-roast1-figma.jpg);
}

.contact-page {
    background-image: url('../images/cyclists-uphill-figma.jpg');
}

.event-calender {
    background-image: url(../images/legs-profile-cyclist1-figma.jpg);
}

/* contact page */

.contact li {
    list-style-type: none;
    padding: 16px 0px 16px 0px;
}

/* Styling the text areas for subscribtion */

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px; 
    resize: vertical;
}

  /* submit button style*/

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
  /* Hover over submit button style */

  input:hover {
    background-color: rgb(92, 131, 150);
}

/* Footer section */

footer {
    position: relative;
    clear: both;
    text-align: center;
    bottom: 0;
    width: 100%;
    display: inline-block;
    margin: auto;
    letter-spacing: 5px;
    background-color: #000000;
    color: #fafafa;
    padding: 64px 0px 64px 0px;
}

footer a {
    font-size: 32px;
    margin-bottom: 24px;
    padding: 24px;
    color: rgb(255, 253, 255);
}

footer a:hover {
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    color: rgb(92, 131, 150);
    }    

.social-text {
    padding-top: 24px;
}

.social-networks i{
    font-size: 200%;
    margin: 1%;
    padding: 1px;
    color: #000000;
}

.content-wrap {
    padding-bottom: 2.5rem; 
  }

/* media rules */

/* For larger screens, medium size from 950px and down*/

@media screen and (min-width: 800px) {

        .menu {
            clear: left;
            float: left;
            margin-left: 30px;
            margin-bottom: 20px;
            line-height: 25px;
        }

        .row img {
            float: left;
            width: 100%;
        }

        .column {
            float: left;
            line-height: 20px;
            clear: both;
            margin-bottom: 50px;
        }

        .welcome {
            left: 0;
        }

        .container {
            height: 1200px;
            margin: auto;
        }
}

/* For mobile screens */
@media screen and (max-width: 480px) {

   .column {
        width: 100%;
        padding: 0;
        padding-bottom: 24px;
   }

   .row {
    display: block;
   }

.welcome {
    font-size: 48px;
   }

header li a {
    padding: 20px 30px;
}

header {
    text-align: left;
}
}